*,
*:after,
*:before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 100%;
	min-height: 100vh;
	margin: 0;
	background: #fcae1b url("Assets/background.svg") no-repeat center bottom;
	display: flex;
	flex-flow: row wrap;
}
.cabecalho{
	width: 32%;
	height: 100vh;
}
.resultadoFiltro{
	width: 68%;
	height: 100vh;
	display: flex;
	flex-flow: column wrap;
	align-items: flex-start;
	justify-content: flex-start;
	align-content: flex-start;
}
.fotos{
	width: 30%;
	height: 22%;
	padding: 5px;
	fill: solid #f26522;
	opacity: .6;
}
.fotos-maiores{
	width: 30%;
	height: 27%;
	padding: 5px;
	fill: solid #f26522;
	opacity: .6;
}
.navegador{
	width: 40%;
	height: 0vh;
}
.sessao{
	display: flex;
	flex-wrap: wrap;
	flex-flow: column wrap;
	background:#fff;
	border-radius: 20px;
	height: 12vh;
	width: 60%;
}
.text{
	font-size: 20px;
}
